.sectionImg{
    background:none;
    box-shadow:none;
    background-image: url('/img/mobile.jpeg');
}

.opBackground{
    background: black;
    opacity:0.6;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

h3{
    color:white; font:bold; margin-bottom:0px;
}
